<div class="container">
  <div class="headings text-center">
    <h1 class="recipe-name">Recipes</h1>
    <h2 class="recipe-author"><%= Date.today.strftime("%B") %></h2>
  </div>
  <div class="sub-heading">
    <p>Turning Seasons aims to promote an understanding of food seasons. Each month we share recipes based on what's currently in season. Browse our recipes and build a seasonal shopping list which you can send to your phone.</p>
  </div>

  <div class="ingredient-options flex-inline">
    <a class="nav-link" data-toggle="dropdown" href="#" id="ingredientDropdown">Search by ingredient <i class="fa fa-plus-circle"></i></a>
      <div class="dropdown-menu" id="ingredient-dropdown">
        <% @ingredients.each do |ingredient| %>
          <% if ingredient.in_season? %>
            <p><%= link_to ingredient.name, recipes_path(ingredient: ingredient) %>, </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-index d-flex justify-content-around flex-row">
    <div class="container-recipes">
      <div class="row">
        <% @recipes.each_with_index do |recipe, index| %>
          <div class="card flex-column <%#= index.odd? ? 'card-odd' : '' %>">
            <%= link_to recipe_path(recipe) do %>
              <div class="card-image">
                <%= image_tag "cake.png"%>
              </div>
            <% end %>
            <div class="card-description">
              <h2><%= recipe.name %></h2>
              <h3>~ <%= recipe.author %> ~</h3>
            </div>
            <div>
              <button type="button" class="circle" data-toggle="modal" data-target="#recipe_<%= recipe.id %>">
                <i class="plus fas fa-plus"></i>
              </button>
              <%= render 'shopping_list_items/shopping_list_item_form', recipe: recipe %>
            </div>
            <% if user_signed_in? %>
              <% if current_user.favourites.find{|fav| fav.recipe_id == recipe.id}.nil? %>
                <div class="heart-index-icon">
                  <%= link_to favourites_path(current_user.favourites, recipe_id: recipe.id), method: :create do %>
                    <i class="fab fa-gratipay"></i>
                  <% end %>
                </div>
              <% else %>
                 <div class="heart-icon-red">
                   <i class="fab fa-gratipay"></i>
                 </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="shopping-list-ingredients">
      <%= render 'shared/shopping_list' %>
    </div>
  </div>
</div>
