<div class="container">
  <div class="headings text-center">
    <h1 class="recipe-name"><%= @recipe.name %></h1>
    <h2 class="recipe-author"><%= @recipe.author %></h2>
  </div>
  <div class="buttons d-flex justify-content-center">
    <div class="button-icon">
      <%= link_to recipes_path do %>
        <i class="fas fa-arrow-circle-left"></i>
        <p>Back</p>
      <% end %>
    </div>
    <div class="button-icon">
      <%= link_to recipes_path do %>
        <i class="fa fa-plus-circle"></i>
        <p>Add to shopping list</p>
      <% end %>
    </div>
    <div class="button-icon">
      <%= link_to recipes_path do %>
        <i class="fab fa-gratipay"></i>
        <p>Save to favourites</p>
      <% end %>
    </div>
  </div>

  <div class="recipe-description">
    <p><%= @recipe.description %></p>
  </div>

  <div class="container-recipe d-flex">

    <div class="recipe-content">

      <div class="recipe-image">
        <%= image_tag('cake.png') %>
      </div>

      <div class="recipe-instructions">
        <%= @recipe.instructions %>
      </div>
    </div>

    <div class="shopping-list-ingredients">
      <%= render 'shared/shopping_list' %>
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <% @recipe.quantities.each do |quantity| %>
            <li><%= quantity.measurement %> <%= quantity.ingredient.name %></li>
          <% end %>
        </ul>
        <%= link_to 'Add' %>
      </div>
    </div>

  </div>

</div>
