<div class="d-flex">
  <div class="body-show">
    <div class="headings text-center">
      <h1 class="recipe-name"><%= @recipe.name %></h1>
      <h2 class="recipe-author"><%= @recipe.author %></h2>
    </div>
    <div class="time-servings d-flex justify-content-center">
      <% if @recipe.servings.present? %>
        <p>servings: <%= @recipe.servings %></p>
      <% end %>
      <% if @recipe.cooking_time.present? %>
        <p>cooking time: <%= @recipe.cooking_time %>mins</p>
      <% end %>
    </div>
    <div class="buttons d-flex justify-content-center">
      <div class="button-icon">
        <%= link_to recipes_path do %>
          <i class="fas fa-arrow-circle-left"></i>
          <p class="button-text">Back</p>
        <% end %>
      </div>

      <div>
        <button class="button-icon" data-toggle="modal" data-target="#recipe_<%= @recipe.id %>">
          <i class="fa fa-plus-circle"></i>
          <p class="button-text">Add to shopping list</p>
        </button>
        <%= render 'shopping_list_items/shopping_list_item_form', recipe: @recipe %>
      </div>
      
      <div>
        <% if user_signed_in? %>
          <% if current_user.favourites.find{|fav| fav.recipe_id == @recipe.id}.nil? %>
            <div class="button-icon">
            
              <%= link_to recipe_favourites_path(@recipe), method: :post, remote: true do %>
                <i class="fab fa-gratipay"></i>
                <p class="button-text">Save to favourites</p>
              <% end %>
            </div>
          <% else %>
            <div class="button-icon selected">
              <%= link_to recipe_favourite_path(@recipe, Favourite.find_by(user: current_user, recipe: @recipe)), method: :delete do %>
                <i class="fab fa-gratipay"></i>
                <p class="button-text">Delete from favourites</p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="recipe-content">

      <div class="image-ingredients">

        <div id="recipe-<%= @recipe.id %>" class="ingredients">
          <h3>Ingredients</h3>
          <ul>
            <% @recipe.quantities.each do |quantity| %>
              <li><%= quantity.measurement %> <%= quantity.unit %> <%= quantity.ingredient.name %></li>
            <% end %>
          </ul>
          <div class="buttons d-flex justify-content-center">
            <div>
              <button class="button-icon" data-toggle="modal" data-target="#recipe_<%= @recipe.id %>">
                <i class="fa fa-plus-circle"></i>
                <p class="button-text">Add to shopping list</p>
              </button>
              <%= render 'shopping_list_items/shopping_list_item_form', recipe: @recipe %>
            </div>
          </div>
        </div>

        <div class="recipe-image">
        <% if @recipe.photo.attached? %>
            <%= cl_image_tag @recipe.photo.key, class: 'cloud-image-show' %>
            <% else %>
            <%= image_tag('cake.png') %>
          <% end %>
        </div>

      </div>


      <div class="recipe-description">
        <p><%= @recipe.description %></p>
      </div>

      <div class="recipe-instructions">
        <%= @recipe.instructions %>
      </div>

      <div class="review">
        <h2>Reviews:</h2>
        <div class="average-rating">
          <% if @rating_average - @rating_average.floor == 0 %>
            <% @rating_average.to_i.times do %>
              <i class="fas fa-star checked"></i>
            <% end %>
            <% (5-@rating_average.to_i).times do %>
              <i class="far fa-star unchecked"></i>
            <% end %>
          <% else %>
            <% (@rating_average-0.5).to_i.times do %>
              <i class="fas fa-star checked"></i>
            <% end %>
            <i class="fas fa-star-half-alt checked"></i>
            <% (4.5-@rating_average).to_i.times do %>
              <i class="far fa-star unchecked"></i>
            <% end %>
          <% end %>
        </div>
        <% if @recipe.reviews.blank? %>
          <p>Be the first to leave a <strong><%= link_to "review", new_recipe_review_path(@recipe) %></strong> for <%= @recipe.name %></p>
        <% else %>
          <% @recipe.reviews.each do |review| %>
            <div class="review-individual">
              <ul class="review-list">
                <li class="rating">
                  <% review.rating.to_i.times do %>
                    <i class="fas fa-star checked"></i>
                  <% end %>
                  <% (5-review.rating.to_i).times do %>
                    <i class="far fa-star unchecked"></i>
                  <% end %>
                </li>
                <li><%= review.user.username %></li>
                <li><%= review.content %></li>
              </ul>
              <% if current_user == review.user %>
                <div class="review-links">
                  <%= link_to "Update", edit_recipe_review_path(@recipe, review), class: "btn btn-form update-delete" %>
                  <%= button_to "Delete", recipe_review_path(@recipe, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-form update-delete" %>
                </div>
              <% end %>
            </div>
          <% end %>

          <button type="button" class="btn btn-confirm review-button" data-toggle="modal" data-target="#exampleModalCenter">
            Review recipe
          </button>

        <% end %>
      </div>
    </div>

  </div>

  <div class="shopping-list-ingredients">
    <%= render 'shared/shopping_list' %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= render 'reviews/review_form', review: @review %>

      </div>
    </div>
  </div>
</div>
