<div class="container">
  <div class="headings text-center">
    <h1 class="recipe-name"><%= @recipe.name %></h1>
    <h2 class="recipe-author"><%= @recipe.author %></h2>
  </div>
  <div class="time-servings d-flex justify-content-center">
    <% if @recipe.servings.present? %>
      <p>servings: <%= @recipe.servings %></p>
    <% end %>
    <% if @recipe.cooking_time.present? %>
      <p>cooking time: <%= @recipe.cooking_time %>mins</p>
    <% end %>
  </div>
  <div class="buttons d-flex justify-content-center">
    <div class="button-icon">
      <%= link_to recipes_path do %>
        <i class="fas fa-arrow-circle-left"></i>
        <p class="button-text">Back</p>
      <% end %>
    </div>

    <div>
      <button class="button-icon" data-toggle="modal" data-target="#recipe_<%= @recipe.id %>">
        <i class="fa fa-plus-circle"></i>
        <p class="button-text">Add to shopping list</p>
      </button>
      <%= render 'shopping_list_items/shopping_list_item_form', recipe: @recipe %>
    </div>

    <div class="button-icon">
      <%= link_to recipes_path do %>
        <i class="fab fa-gratipay"></i>
        <p class="button-text">Save to favourites</p>
      <% end %>
    </div>
  </div>

  <div class="recipe-description">
    <p><%= @recipe.description %></p>
  </div>

  <div class="container-recipe d-flex">

    <div class="recipe-content">

      <div class="recipe-image">
        <% if @recipe.photo.attached? %>
          <%= cl_image_tag @recipe.photo.key %>
          <% else %>
          <%= image_tag('cake.png') %>
        <% end %>
      </div>

      <div class="recipe-instructions">
        <%= @recipe.instructions %>
      </div>
    </div>

    <div class="shopping-list-ingredients">
      <%= render 'shared/shopping_list' %>
      <div class="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <% @recipe.quantities.each do |quantity| %>
            <li><%= quantity.measurement %> <%= quantity.unit %> <%= quantity.ingredient.name %></li>
          <% end %>
        </ul>
        <div class="buttons d-flex justify-content-end">
          <div>
          <button class="button-icon" data-toggle="modal" data-target="#recipe_<%= @recipe.id %>">
            <i class="fa fa-plus-circle"></i>
            <p>Add to shopping list</p>
          </button>
          <%= render 'shopping_list_items/shopping_list_item_form', recipe: @recipe %>
        </div>
        </div>
      </div>
    </div>

  </div>

</div>
