<div class="d-flex">
  <div class="body-show">
    <div class="headings text-center">
      <h1 class="recipe-name">Welcome</h1>
      <h2 class="recipe-author"><%= current_user.username %></h2>
    </div>

    <div class="current-recipes-container">
      <h2>Recipes in you shopping list</h2>
      <% if current_user.shopping_list.present? %>
          <% current_user.shopping_list.shopping_list_items.each do |list| %>
              <div class="card-product-shopping">
                <%= cl_image_tag list.recipe.photo.key %>
                <div class="card-product-info">
                  <p class="card-product-name"><%= list.recipe.name %></p>
                  <p class="card-product-author"><%= list.recipe.author %></p>
                </div>
                <div>
                  <%= link_to 'Delete', shopping_list_item_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ghost" %>
                </div>
              </div>
          <% end %>
      <% else %>
        <i class="far fa-frown-open"></i>
        <p class="empty">Your shopping list is empty <br> Add some <strong><%= link_to "Recipes", recipes_path %></strong>!</p>
      <% end %>
    </div>

    <div class="favourites-container">
      <%= render "favourites/favourites" %>
    </div>
  </div>

  <div class="shopping-list-ingredients">
    <%= render 'shared/shopping_list' %>
  </div>
</div>







