<div class="d-flex">
  <div class="body-show">
    <div class="headings text-center">
      <h1 class="recipe-name">Welcome</h1>
      <% if current_user.username.present? %>
        <h2 class="recipe-author"><%= current_user.username.capitalize %></h2>
      <% end %>
    </div>

    <div class="tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Current shopping list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Past shopping lists</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="current-recipes-container">
            <h2>Recipes in your shopping list</h2>
            <% if current_user.shopping_list.present? %>
                <% current_user.shopping_list.shopping_list_items.each do |list| %>
                    <div class="card-product-shopping">
                      <%= cl_image_tag list.recipe.photo.key %>
                      <div class="card-product-info">
                        <p class="card-product-name"><%= list.recipe.name %></p>
                        <p class="card-product-author"><%= list.recipe.author %></p>
                      </div>
                      <div>
                        <%= link_to 'Delete', shopping_list_item_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ghost" %>
                      </div>
                    </div>
                <% end %>
            <% else %>
              <i class="far fa-frown-open"></i>
              <p class="empty">Your shopping list is empty <br> Add some <strong><%= link_to "Recipes", recipes_path %></strong>!</p>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="profile-completed-shopping-lists">
            <%= render "shopping_lists/completed_shopping_lists" %>
          </div>
        </div>

      </div>

    </div>

    <div class="favourites-container">
      <%= render "favourites/favourites" %>
    </div>
  </div>

  <div class="shopping-list-ingredients">
    <%= render 'shared/shopping_list' %>
  </div>
</div>

  <div class="modal fade" id="test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row justify-content-center">
          <row class="col-lg-12">
            <p class="modal-text">Your shopping list has been sent to: <br> <strong><%= current_user.email %></strong> <br> <br> Would you like to see markets near you?</p>
              <%= link_to 'To the markets!', markets_path, class: "btn btn-confirm" %>
          </row>
        </div>
      </div>
    </div>
  </div>
</div>







