<h1 id="profile-welcome">Welcome <%= current_user.username %>!</h1>

<div class="profile-content-box container">

  <div class="user-profile-shopping-list">

    <div class="current-recipes-container">
      <h2 class="text-align-center">Recipes in you Shopping List:</h2>
      <% if current_user.shopping_list.present? %>
        <ul class="unordered-list-shopping">
          <% current_user.shopping_list.shopping_list_items.each do |list| %>
              <div class="card-product-shopping flex-row">
                <%= image_tag "cake.png"%>
                <div class="card-product-info">
                  <li><%= list.recipe.name %></li>
                  <li><%= list.recipe.author %></li>
                </div>
                <div>
                  <%= link_to 'Delete', shopping_list_item_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ghost" %>
                </div>
              </div>
          <% end %>
        </ul>
      <% else %>
        <i class="far fa-frown-open"></i>
        <p class="empty">Your shopping list is empty <br> Add some <strong><%= link_to "Recipes", recipes_path %></strong>!</p>
      <% end %>
    </div>

    <div class="profile-shopping-list">
      <h2>Current Shopping List:</h2>
      <ul class="shopping-list-points">
        <% if current_user.shopping_list.present? %>
          <ul>
            <% current_user.shopping_list.shopping_list_items.map{|item| item.quantities}.flatten.group_by{|quantity| quantity.ingredient.name}.each do |key, value|  %>
              <li><%= value.map{|r| r.measurement}.sum  %> <%= value.first.unit %> <%= key %></li>
            <% end %>
          </ul>
          <div class="buttons d-flex justify-content-end">
            <div class="button-icon-small">
              <%= link_to recipes_path do %>
                <i class="far fa-paper-plane"></i>
                <p class="button-text">Send list</p>
              <% end %>
            </div>
            <div class="button-icon-small">
              <%= link_to shopping_list_path(current_user.shopping_list), method: :put do %>
                <i class="far fa-check-circle"></i>
                <p class="button-text">Shopping completed</p>
              <% end %>
            </div>
          </div>
        <% else %>
        <i class="far fa-frown-open"></i>
        <p class='empty'>Your shopping list is empty</p>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="profile-lower-container align-self-start">
    <div class="favourites-container">
      <%= render "favourites/favourites" %>
    </div>

    <div class="profile-completed-shopping-lists">
      <%= render "shopping_lists/completed_shopping_lists" %>
    </div>
  </div>

</div>
