<div class="container favourites">
  <h2 class="favourites-title">Your favourite recipes</h2>
  <% if current_user.favourites.present? %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <% favourites = current_user.favourites %>
        <div class="carousel-item active">
          <%= cl_image_tag favourites.first.recipe.photo.key, class: "carousel-image" %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= link_to favourites.first.recipe.name, recipe_path(favourites.first.recipe.id) %></h5>
          </div>
        </div>

          <% favourites.drop(1).each do |favourite| %>
        <div class="carousel-item">
          <%= cl_image_tag favourite.recipe.photo.key, class: "carousel-image" %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= link_to favourite.recipe.name, recipe_path(favourite.recipe.id) %></h5>
          </div>
        </div>
        <% end %>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% else %>
    <i class="far fa-frown-open"></i>
    <p class="empty">You haven't chosen any favourite recipes yet! <br> Have a look at what's in season here <strong><%= link_to "Recipes", recipes_path %></strong></p>
  <% end %>
</div>
