
<div class="side-nav">
  <ul>
    <li>
      <%= link_to "Recipes", recipes_path, class: "recipe_link" %>
    </li>


    <li>
      <% if user_signed_in? %>
        <%= link_to "Profile", user_path(current_user), class: "profile_link" %>
      <% end %>
    </li>

    <li>
      <% if user_signed_in? %>
      <%= link_to "Markets", markets_path, class: "markets_link" %>
      <% end %>
    </li>


    <% if user_signed_in? %>
      <li class="nav-item">
        <div class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, class: "log-link", method: :delete %>
        </div>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class: "log-link" %>
      </li>
      <li>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "log-link" %>
        </div>
      </li>
    <% end %>


  </ul>
</div>
<h3>Shopping List</h3>
<div class="shopping-list">
  <% if user_signed_in? %>
    <% if current_user.shopping_list.present? %>
      <ul>
        <% current_user.shopping_list.shopping_list_items.map{|item| item.quantities}.flatten.group_by{|quantity| quantity.ingredient.name}.each do |key, value|  %>
          <li><%= value.map{|r| r.measurement}.sum  %> <%= value.first.unit %> <%= key %></li>
        <% end %>
      </ul>

      <% else %>
        <i class="far fa-frown-open"></i>
        <p class='empty'>Your shopping list is empty.</p>
        <p class='empty'>Add some recipes!</p>
    <% end %>
  <% end %>
</div>


<div class="buttons-list d-flex justify-content-end">
  <% if user_signed_in? %>
    <% if current_user.shopping_list.present? %>
      <div class="button-icon-small">
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-pencil-alt"></i>
          <p class="button-text">Edit list</p>
        <% end %>
      </div>

      <div type="button" class="button-icon-small" data-toggle="modal" data-target="#test">
        <a>
          <i class="far fa-paper-plane"></i>
          <p class="button-text">Send list</p>
        </a>
      </div>

      <div class="button-icon-small">
        <%= link_to shopping_list_path(current_user.shopping_list), method: :put do %>
          <i class="far fa-check-circle"></i>
          <p class="button-text">Completed</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>




