<div class="shopping-list">
  <h3>Shopping List</h3>
  <% if current_user.shopping_list.present? %>
    <ul>
      <% current_user.shopping_list.shopping_list_items.each do |items| %>
        <% items.ingredients.each do |ing| %>
          <li><%= ing.name %></li>
        <% end %>
      <% end %>
    </ul>
    <ul>
      <% current_user.shopping_list.shopping_list_items.each do |items| %>
        <% items.quantities.each do |quantity| %>
          <li><%= quantity.measurement %></li>
        <% end %>
      <% end %>
    </ul>
    <div class="buttons d-flex justify-content-end">
    <div class="button-icon-small">
      <%= link_to recipes_path do %>
        <i class="fas fa-pencil-alt"></i>
        <p>Edit list</p>
      <% end %>
    </div>
    <div class="button-icon-small">
      <%= link_to recipes_path do %>
        <i class="far fa-paper-plane"></i>
        <p>Send list</p>
      <% end %>
    </div>
    <div class="button-icon-small">
      <%= link_to recipes_path do %>
        <i class="far fa-check-circle"></i>
        <p>Shopping completed</p>
      <% end %>
    </div>
  </div>
  <% else %>
    <i class="far fa-frown-open"></i>
    <p class='empty'>Your shopping list is empty</p>
  <% end %>
</div>


