
<div class="side-nav-home">
  <ul>
    <li>
      <%= link_to "Recipes", recipes_path, class: "recipe_link" %>
    </li>

    <li>
      <% if user_signed_in? %>
        <%= link_to "Profile", user_path(current_user), class: "profile_link" %>
      <% end %>
    </li>


    <% if user_signed_in? %>
      <li class="nav-item">
        <div class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, class: "log-link", method: :delete %>
        </div>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class: "log-link" %>
      </li>
      <li>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "log-link" %>
        </div>
      </li>
    <% end %>


  </ul>
</div>
<div class="container d-flex flex-column justify-content-between">
  <div class="headings-landing text-center">
    <h1 class="recipe-name">Turning Seasons</h1>
    <h2 class="recipe-author">An easy way to eat seasonally</h2>

  </div>



  <div class="landing-image-container">
    <%= link_to recipes_path(@recipes) do %>
      <%= image_tag "veg.jpg", alt: "seasonal produce", class: "landing-image" %>
      <%= link_to "Get", recipes_path(@recipes), class: "enter1" %>
      <%= link_to "started", recipes_path(@recipes), class: "enter2" %>
    <% end %>
  </div>
</div>

